{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>A bit about us</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="{% static "css/main.css" %}">
	</head>
	<body>
		<!-- Body -->
		<div>
			<center>
			<div class="menu">
				<a href="index.html"><img src="{% static "images/logo.jpg" %}" width="50" alt="Home" /></a>&nbsp;<a href="about_us.html" class="button">About Us</a>&nbsp;Contact Us
			</div>
			<div class="content">
				<p>Enter Record ID below</p>
			</div>
			<div class="form">
				<form action="" method="post">
					{% csrf_token %}
					{{ form.as_p }}
					<input type="Submit" name="submit" value="Submit"/>

					{% if submitbutton == "Submit" %}
						{% if id %}
							<h1>Your Record ID is {{ id }}</h1>
							<h1>Your first name is {{ first_name }}</h1>
							<h1>Your last name is {{ last_name }}</h1>
							<h1>Your email is {{ email }}</h1>
						{% else %}
							<h1>Your Record ID does not exist</h1>
						{% endif %}

					{% endif %}

				</form>

			</div>
		</br>
			<div class="formcontent">
			</div>


			</center>

		</div>

		<!-- Footer -->
		<footer id="footer">
			<p class="copyright">&copy; <a href="index.html">Website</a></p>
		</footer>


	</body>
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script> 
</html>
